.btn-light-primary,
.bg-light-primary {
  background-color: #eb5d55 !important;
}

.btn-outline-primary {
  color: #E6352A;
  border-color: #E6352A;
}
.btn-outline-primary:hover {
  background-color: transparent;
  border-color: #c62117;
  color: #E6352A;
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #af1e15;
  border-color: #af1e15;
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border-color: #c62117;
  color: #E6352A;
}

.btn-primary,
.bg-primary {
  background-color: #E6352A !important;
  border-color: #E6352A !important;
}

.btn-gradient-primary,
.bg-gradient-primary {
  background-image: linear-gradient(to right, #b32921, #e73f35) !important;
}

.border-light-primary {
  border-color: #eb5d55 !important;
}

.border-primary {
  border-color: #E6352A !important;
}

.text-light-primary {
  color: #eb5d55 !important;
}

.text-primary {
  color: #E6352A !important;
}

.btn-light-primary:hover, .btn-light-primary:active, .btn-light-primary:focus {
  background-color: #E6352A !important;
  color: #eb5d55 !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #cf2318 !important;
  border-color: #b41e15 !important;
}

.btn-light-dark,
.bg-light-dark {
  background-color: #4f4c4d !important;
}

.btn-outline-dark {
  color: #231F20;
  border-color: #231F20;
}
.btn-outline-dark:hover {
  background-color: transparent;
  border-color: #080707;
  color: #231F20;
}
.btn-outline-dark:disabled, .btn-outline-dark.disabled {
  color: black;
  border-color: black;
}
.btn-outline-dark:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border-color: #080707;
  color: #231F20;
}

.btn-dark,
.bg-dark {
  background-color: #231F20 !important;
  border-color: #231F20 !important;
}

.btn-gradient-dark,
.bg-gradient-dark {
  background-image: linear-gradient(to right, #1b1819, #2e2a2b) !important;
}

.border-light-dark {
  border-color: #4f4c4d !important;
}

.border-dark {
  border-color: #231F20 !important;
}

.text-light-dark {
  color: #4f4c4d !important;
}

.text-dark {
  color: #231F20 !important;
}

.btn-light-dark:hover, .btn-light-dark:active, .btn-light-dark:focus {
  background-color: #231F20 !important;
  color: #4f4c4d !important;
}

.btn-dark:hover, .btn-dark:active, .btn-dark:focus {
  background-color: #0d0c0c !important;
  border-color: black !important;
}

.btn-light-white-normal,
.bg-light-white-normal {
  background-color: #ebebeb !important;
}

.btn-outline-white-normal {
  color: #E6E6E6;
  border-color: #E6E6E6;
}
.btn-outline-white-normal:hover {
  background-color: transparent;
  border-color: #cdcdcd;
  color: #E6E6E6;
}
.btn-outline-white-normal:disabled, .btn-outline-white-normal.disabled {
  color: silver;
  border-color: silver;
}
.btn-outline-white-normal:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border-color: #cdcdcd;
  color: #E6E6E6;
}

.btn-white-normal,
.bg-white-normal {
  background-color: #E6E6E6 !important;
  border-color: #E6E6E6 !important;
}

.btn-gradient-white-normal,
.bg-gradient-white-normal {
  background-image: linear-gradient(to right, #b3b3b3, #e7e7e7) !important;
}

.border-light-white-normal {
  border-color: #ebebeb !important;
}

.border-white-normal {
  border-color: #E6E6E6 !important;
}

.text-light-white-normal {
  color: #ebebeb !important;
}

.text-white-normal {
  color: #E6E6E6 !important;
}

.btn-light-white-normal:hover, .btn-light-white-normal:active, .btn-light-white-normal:focus {
  background-color: #E6E6E6 !important;
  color: #ebebeb !important;
}

.btn-white-normal:hover, .btn-white-normal:active, .btn-white-normal:focus {
  background-color: #d2d2d2 !important;
  border-color: #c2c2c2 !important;
}

.btn-light-grey-light,
.bg-light-grey-light {
  background-color: #c9c8c8 !important;
}

.btn-outline-grey-light {
  color: #BBBABA;
  border-color: #BBBABA;
}
.btn-outline-grey-light:hover {
  background-color: transparent;
  border-color: #a2a0a0;
  color: #BBBABA;
}
.btn-outline-grey-light:disabled, .btn-outline-grey-light.disabled {
  color: #959393;
  border-color: #959393;
}
.btn-outline-grey-light:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border-color: #a2a0a0;
  color: #BBBABA;
}

.btn-grey-light,
.bg-grey-light {
  background-color: #BBBABA !important;
  border-color: #BBBABA !important;
}

.btn-gradient-grey-light,
.bg-gradient-grey-light {
  background-image: linear-gradient(to right, #929191, #bebdbd) !important;
}

.border-light-grey-light {
  border-color: #c9c8c8 !important;
}

.border-grey-light {
  border-color: #BBBABA !important;
}

.text-light-grey-light {
  color: #c9c8c8 !important;
}

.text-grey-light {
  color: #BBBABA !important;
}

.btn-light-grey-light:hover, .btn-light-grey-light:active, .btn-light-grey-light:focus {
  background-color: #BBBABA !important;
  color: #c9c8c8 !important;
}

.btn-grey-light:hover, .btn-grey-light:active, .btn-grey-light:focus {
  background-color: #a7a5a5 !important;
  border-color: #989696 !important;
}

.btn-light-grey-dark,
.bg-light-grey-dark {
  background-color: #3d3c3c !important;
}

.btn-outline-grey-dark {
  color: #0C0B0B;
  border-color: #0C0B0B;
}
.btn-outline-grey-dark:hover {
  background-color: transparent;
  border-color: black;
  color: #0C0B0B;
}
.btn-outline-grey-dark:disabled, .btn-outline-grey-dark.disabled {
  color: black;
  border-color: black;
}
.btn-outline-grey-dark:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border-color: black;
  color: #0C0B0B;
}

.btn-grey-dark,
.bg-grey-dark {
  background-color: #0C0B0B !important;
  border-color: #0C0B0B !important;
}

.btn-gradient-grey-dark,
.bg-gradient-grey-dark {
  background-image: linear-gradient(to right, #090909, #181717) !important;
}

.border-light-grey-dark {
  border-color: #3d3c3c !important;
}

.border-grey-dark {
  border-color: #0C0B0B !important;
}

.text-light-grey-dark {
  color: #3d3c3c !important;
}

.text-grey-dark {
  color: #0C0B0B !important;
}

.btn-light-grey-dark:hover, .btn-light-grey-dark:active, .btn-light-grey-dark:focus {
  background-color: #0C0B0B !important;
  color: #3d3c3c !important;
}

.btn-grey-dark:hover, .btn-grey-dark:active, .btn-grey-dark:focus {
  background-color: black !important;
  border-color: black !important;
}

/*---------*/
@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.eot") format("eot");
  font-display: swap;
}
/*---------*/
@font-face {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.eot") format("eot");
  font-display: swap;
}
/*---------*/
@font-face {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.eot") format("eot");
  font-display: swap;
}
/*---------*/
@font-face {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.eot") format("eot");
  font-display: swap;
}
/*-----------------------
   fontFamily
-------------------------*/
/*-----------------------
    Global Styles
-------------------------*/
::-moz-selection {
  background: #231F20;
  color: #fff;
}
::selection {
  background: #231F20;
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background: #BBBDC1;
  border-radius: 120px;
}

html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  scroll-behavior: initial;
  overflow-x: hidden !important;
}

body {
  font-size: 16px;
  vertical-align: baseline;
  overflow-x: hidden !important;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  background: #fff;
  font-style: normal;
  height: 100%;
}
body.modal-open {
  padding-right: 0 !important;
}
body.show-overlay {
  overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none !important;
  transition: all 1s ease-out;
  cursor: pointer !important;
  box-shadow: none !important;
  outline: 0 !important;
  border: 0;
}

.btn {
  box-shadow: none !important;
  outline: 0 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

ol,
ul {
  list-style: none;
}

figure,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizelegibility;
  margin-top: 0;
  margin-bottom: 0;
}

[type=email],
[type=number],
[type=tel],
[type=url] {
  direction: inherit;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: inherit;
  border-color: transparent;
}

input {
  box-shadow: unset !important;
  outline: 0 !important;
}

/*-----------------------
    Global Styles
-------------------------*/
.one-line {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.two-line {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.three-line {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-section h2 {
  text-transform: capitalize;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.title-section .title-line {
  background: #E6352A;
  height: 1.25px;
}

.swiper-pagination {
  padding: 3rem 1rem 1rem 1rem;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: #737373;
  opacity: 1;
}
.swiper-pagination-clickable .swiper-pagination-bullet-active {
  background: #E6352A;
}

.form-check-input[type=checkbox] {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 0;
  border: 1px solid #BBBABA;
}

.form-check-input:checked {
  background-color: #E6352A !important;
  border-color: #E6352A !important;
}

/*-----------------------
    preloader 
-------------------------*/
#preloader-background,
#circle-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader-background {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #E9E9E9;
}
html[dir=rtl] #preloader-background {
  right: 0;
  left: 0;
}
html[dir=ltr] #preloader-background {
  right: 0;
  left: 0;
}

#circle-loader {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-top-color: #E6352A;
  border-right-color: #E6352A;
  border-bottom-color: #FDFBFB;
  border-left-color: #FDFBFB;
  border-radius: 50%;
  animation: spinLoader 2s linear infinite;
}
@media only screen and (min-width: 991px) {
  #circle-loader {
    width: 400px;
    height: 400px;
  }
}
@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#centre-logo {
  position: fixed;
  width: 100px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 991px) {
  #centre-logo {
    width: 300px;
  }
}

.animatePageIn {
  position: relative;
  -webkit-animation-name: animatePageIn;
  -webkit-animation-duration: 3s;
  animation-name: animatePageIn;
  animation-duration: 3s;
}
@keyframes animatePageIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*-----------------------
    header Styles
-------------------------*/
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #E6352A;
}

.brand {
  display: flex;
  align-items: center;
}
@media (min-width: 1440px) {
  .brand img {
    height: 80px;
  }
}
@media (max-width: 1439.98px) {
  .brand img {
    height: 70px;
  }
}

.mobile-screen {
  display: none !important;
}
@media (max-width: 991px) {
  .mobile-screen {
    display: flex !important;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 5px 0;
}
.navbar .navbar__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0;
}
@media (max-width: 991px) {
  .navbar .navbar__left {
    flex: 0 0 auto;
    width: 100%;
  }
}
.navbar .navbar__center {
  display: flex;
}
@media (max-width: 991px) {
  .navbar .navbar__center {
    flex: 0 0 100%;
    align-items: center;
  }
}
.navbar .navbar__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 992px) {
  .navbar .navbar__right {
    gap: 2rem;
  }
}
@media (max-width: 991px) {
  .navbar .navbar__right {
    display: none;
  }
}
.navbar .navbar__right .btn-dark {
  padding: 0.44rem;
  min-height: 1.5rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  color: #fff;
  background: #231F20;
  text-transform: capitalize;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.navbar .navbar__right .btn-language {
  padding: 0;
  font-size: 16px;
  color: #fff;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.navbar .navbar__right .btn-language img {
  width: 17px;
}

@media (max-width: 991px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    max-width: 85%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    background-color: #fff;
    transform: translate(-100%);
    transition: all 0.4s ease-in-out;
  }
  .menu.is-active {
    transform: translate(0%);
  }
  .menu.is-active .menu__link {
    text-transform: capitalize;
  }
  .menu.is-active .menu__link img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7500%) hue-rotate(127deg) brightness(90%) contrast(109%);
  }
  .menu.is-active .submenu {
    background-color: #fff;
    height: calc(100% - 3rem);
  }
}
.menu .menu__header {
  display: none;
  box-shadow: var(--shadow-medium);
}
@media (max-width: 991px) {
  .menu .menu__header {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    z-index: 110;
    visibility: hidden;
    background: transparent;
  }
  .menu .menu__header.is-active {
    visibility: visible;
    border-radius: 0;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 16px;
  }
  .menu .menu__header.is-active span {
    font-size: 1.3rem;
    font-family: "Montserrat-Bold", sans-serif;
  }
  .menu .menu__header.is-active > .menu__arrow {
    display: flex;
  }
  .menu .menu__header.is-active > .menu__arrow i {
    font-size: 1rem;
  }
}
@media (max-width: 991px) {
  .menu .menu__header .menu__arrow {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
@media (max-width: 991px) {
  .menu .menu__header .menu__title {
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    color: #000;
    transition: all 0.25s ease;
  }
}
@media (min-width: 991px) {
  .menu .menu__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media (max-width: 991px) {
  .menu .menu__inner {
    height: calc(100% - 3rem);
    margin-top: -3rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media (max-width: 991px) {
  .menu .menu__inner .menu__item {
    display: block;
    padding: 0;
    border-bottom: 1px solid;
  }
  .menu .menu__inner .menu__item:last-child {
    border-bottom: 0;
  }
  .menu .menu__inner .menu__item:last-child a img {
    display: none;
  }
}
@media (min-width: 992px) {
  .menu .menu__inner .menu__item:hover > .menu__link i {
    transform: rotate(180deg);
  }
}
@media (min-width: 992px) {
  .menu .menu__inner .menu__item.menu__dropdown:hover > .submenu {
    opacity: 1;
    visibility: visible;
    top: 35px;
  }
}
.menu .menu__inner .menu__item .menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.25s ease;
  font-family: "Montserrat-SemiBold", sans-serif;
}
@media (min-width: 991px) {
  .menu .menu__inner .menu__item .menu__link {
    color: #fff;
  }
}
@media (max-width: 991px) {
  .menu .menu__inner .menu__item .menu__link {
    color: #000;
  }
}
.menu .menu__inner .menu__item .menu__link > i {
  font-size: 12px;
  margin-left: 5px;
  transition: 0.35s;
}
@media (max-width: 991px) {
  .menu .menu__inner .menu__item .menu__link > i {
    margin-left: 10px;
    transform: rotate(0deg);
  }
}
@media (max-width: 991px) {
  .menu .menu__inner .menu__item .menu__link {
    justify-content: space-between;
    padding: 16px;
    font-family: "Montserrat-Regular", sans-serif;
  }
}

.submenu {
  position: absolute;
  z-index: 100;
  top: 110%;
  left: 50%;
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
  border-radius: 14px;
  color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  transform: translateX(-50%);
}
@media (max-width: 991px) {
  .submenu {
    position: fixed;
    display: none;
    top: 65px;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    margin: 0;
    padding: 0px 15px 0 15px;
    border-radius: 0;
    border-top: 0;
    box-shadow: none;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    transform: translateX(0%);
  }
  .submenu.is-active {
    display: block;
  }
}
@media (min-width: 992px) {
  .submenu {
    animation: none !important;
  }
}
@media (min-width: 992px) {
  .submenu.megamenu__normal {
    left: 65%;
    max-width: 250px;
    min-width: 250px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
.submenu .submenu__inner {
  width: 25%;
  padding: 0 15px;
}
@media (max-width: 991px) {
  .submenu .submenu__inner {
    width: 100%;
    padding: 0;
  }
}
.submenu .submenu__inner .submenu__title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
@media (max-width: 991px) {
  .submenu .submenu__list {
    margin-bottom: 20px;
  }
  .submenu .submenu__list li a {
    color: #000 !important;
  }
}
.submenu .submenu__list li {
  display: block;
  line-height: 1;
  margin: 0 auto;
  padding: 0.75rem 0;
  border-bottom: 1px solid;
}
.submenu .submenu__list li:last-child {
  border-bottom: 0;
}
@media (max-width: 991px) {
  .submenu .submenu__list li {
    padding: 1rem 0;
  }
}
.submenu .submenu__list li a {
  font-size: 1rem;
  display: inline-block;
  text-transform: capitalize;
  color: #000;
  font-family: "Montserrat-Bold", sans-serif;
  transition: all 0.25s ease-in-out;
}
@media (max-width: 991px) {
  .submenu .submenu__list li a {
    display: block;
  }
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.45s ease-in-out;
  pointer-events: none;
}
@media (max-width: 991px) {
  .overlay {
    pointer-events: visible;
  }
  .overlay.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.burger {
  position: relative;
  display: none;
  cursor: pointer;
  width: 25px;
  height: 15px;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}
@media (max-width: 991px) {
  .burger {
    display: block;
    opacity: 1;
    visibility: visible;
    margin: 15px;
  }
}
.burger .burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border-radius: 15px;
  background: #000;
}
.burger .burger-line:nth-child(1) {
  top: 0px;
}
.burger .burger-line:nth-child(2) {
  top: 8px;
  width: 70%;
}
.burger .burger-line:nth-child(3) {
  top: 16px;
}

/*-----------------------
    back-to-top Styles
-------------------------*/
button.back-to-top {
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
  height: 0px;
  width: 0px;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  color: transparent;
  clear: both;
  visibility: hidden;
  position: fixed;
  top: unset;
  bottom: 75px;
  cursor: pointer;
  display: block;
  border: none;
  font-size: 0px;
  outline: 0 !important;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}
html[dir=rtl] button.back-to-top {
  right: unset;
  left: 20px;
}
html[dir=ltr] button.back-to-top {
  right: 20px;
  left: unset;
}

button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus {
  outline: 0 !important;
}

button.back-to-top::before,
button.back-to-top::after {
  content: "";
  display: block;
  border-bottom: solid 10px #E6352A;
  border-left: solid 10px transparent;
  line-height: 0;
  border-right: solid 10px transparent;
  height: 0;
  margin: 18px auto 0;
  width: 0;
  border-radius: 20px;
  visibility: hidden;
}

button.back-to-top.show::after,
button.back-to-top.show::before {
  visibility: visible;
}

button.back-to-top::after {
  border-bottom-color: #fff;
  position: relative;
  top: -24px;
}

button.back-to-top.show {
  display: block;
  background: #fff;
  color: #E6352A;
  font-size: 25px;
  left: 25px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  visibility: visible;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

button.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

/*-----------------------
    Footer Styles
-------------------------*/
footer {
  padding: 45px 0;
  background: #E6352A;
}
@media (min-width: 992px) {
  footer .footer-col-links {
    justify-content: center;
  }
}
footer .footer-col .footer-logo .brand img {
  height: 90px;
}
footer .footer-col .footer-logo p {
  font-size: 1rem;
  color: #fff;
}
footer .footer-col .footer-subtitle {
  color: #fff;
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-family: "Montserrat-SemiBold", sans-serif;
}
footer .footer-col .footer-links ul {
  row-gap: 0.88rem;
}
footer .footer-col .footer-links ul li a {
  text-transform: capitalize;
  font-size: 1rem;
  color: #E6E6E6;
}
footer .footer-col .footer-links ul li:hover a {
  color: #fff;
}
footer .footer-col .footer-contat .item span, footer .footer-col .footer-contat .item a {
  font-size: 1rem;
  color: #E6E6E6;
}
footer .footer-col .footer-contat .item:not(:last-child) {
  margin-bottom: 1.12rem;
}

/*-----------------------
    subscribe-section
-------------------------*/
.subscribe-section {
  color: #fff;
  background: #231F20;
  padding: 1rem 0;
}
.subscribe-section-info {
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 1rem;
}
.subscribe-section-info p {
  font-family: "Montserrat-Medium", sans-serif;
}
@media (min-width: 1400px) {
  .subscribe-section-info p {
    font-size: 1.5rem;
  }
}
@media (max-width: 1399.98px) {
  .subscribe-section-info p {
    font-size: 1.4rem;
  }
}
.subscribe-section-info span {
  font-size: 1rem;
}
.subscribe-section .input-group {
  min-height: 3rem;
}
.subscribe-section .input-group.error-validation {
  border: 1px solid #E6352A;
}
.subscribe-section .input-group .form-control {
  border-radius: 0;
  border-color: #fff;
  border: 0;
}
@media (min-width: 992px) {
  .subscribe-section .input-group .form-control {
    width: calc(100% - 10rem);
  }
}
@media (max-width: 991.98px) {
  .subscribe-section .input-group .form-control {
    width: calc(100% - 10rem);
  }
}
.subscribe-section .input-group .form-control::-moz-placeholder {
  color: #BBBABA;
  opacity: 1;
}
.subscribe-section .input-group .form-control::placeholder {
  color: #BBBABA;
  opacity: 1;
}
@media (min-width: 992px) {
  .subscribe-section .input-group .form-control::-moz-placeholder {
    font-size: 1rem;
  }
  .subscribe-section .input-group .form-control::placeholder {
    font-size: 1rem;
  }
}
@media (max-width: 991.98px) {
  .subscribe-section .input-group .form-control::-moz-placeholder {
    font-size: 0.894rem;
  }
  .subscribe-section .input-group .form-control::placeholder {
    font-size: 0.894rem;
  }
}
.subscribe-section .input-group .form-control::-ms-input-placeholder {
  color: #BBBABA;
  opacity: 1;
}
@media (min-width: 992px) {
  .subscribe-section .input-group .form-control::-ms-input-placeholder {
    font-size: 1rem;
  }
}
@media (max-width: 991.98px) {
  .subscribe-section .input-group .form-control::-ms-input-placeholder {
    font-size: 0.894rem;
  }
}
.subscribe-section .input-group .btn {
  color: #0C0B0B;
  text-transform: uppercase;
  font-family: "Montserrat-SemiBold", sans-serif;
  border-radius: 0;
}
@media (min-width: 992px) {
  .subscribe-section .input-group .btn {
    min-width: 10rem;
    font-size: 1rem;
  }
}
@media (max-width: 991.98px) {
  .subscribe-section .input-group .btn {
    min-width: 5rem;
    font-size: 0.894rem;
  }
}

.invalid-feedback {
  font-size: 16px;
  font-family: "Montserrat-Medium", sans-serif;
}

/*-----------------------
   equipment
-------------------------*/
.equipment-section {
  padding: 5rem 0;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.equipment-section p {
  color: #231F20;
  font-family: "Montserrat-SemiBold", sans-serif;
}
@media (min-width: 992px) {
  .equipment-section p {
    font-size: 2.5rem;
  }
}
@media (max-width: 991.98px) {
  .equipment-section p {
    font-size: 1.5rem;
  }
}

/*-----------------------
    certificates-section
-------------------------*/
.certificates-section {
  padding: 70px 0;
}
.certificates-section .certificate-box {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  height: 195px;
}
.certificates-section .certificate-box img {
  width: 150px;
  margin: 0 auto;
}

/*-----------------------
    latest-news
-------------------------*/
.latest-news {
  padding: 70px 0;
}
.latest-news .news-card {
  border-radius: 1rem;
}
.latest-news .news-card-header {
  height: 280px;
}
.latest-news .news-card-header img {
  -o-object-fit: cover;
     object-fit: cover;
}
.latest-news .news-card-body {
  padding: 0.76rem;
  background: rgba(233, 233, 233, 0.34);
}
.latest-news .news-card-body ul li span {
  color: #231F20;
}
.latest-news .news-card-body h3 {
  text-transform: uppercase;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.latest-news .news-card-body h3 a {
  color: #231F20;
}
@media (min-width: 992px) {
  .latest-news .news-card-body h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 991.98px) {
  .latest-news .news-card-body h3 {
    font-size: 1.25rem;
  }
}

/*-----------------------
    our-product
-------------------------*/
.our-product {
  padding: 70px 0;
}
.our-product .our-product-card .header-part {
  height: 350px;
}
.our-product .our-product-card .header-part img {
  display: block;
  margin: 0 auto;
  height: 250px;
}
.our-product .our-product-card .body-part h5 {
  text-transform: uppercase;
  color: #231F20;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.our-product .our-product-card .body-part p {
  font-size: 0.984rem;
  color: #595959;
}

/*-----------------------
    ready-section
-------------------------*/
.ready-section {
  padding: 2rem 0;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.ready-section h3 {
  color: #0C0B0B;
  font-family: "Montserrat-Bold", sans-serif;
}
.ready-section p {
  color: #0C0B0B;
}
.ready-section .btn-contat {
  min-height: 3.25rem;
  border-radius: 0.5rem;
  background: #FFF;
  font-size: 0.95625rem;
  font-family: "Montserrat-SemiBold", sans-serif;
}
@media (min-width: 768px) {
  .ready-section .btn-contat {
    min-width: 12rem;
  }
}
@media (max-width: 767.98px) {
  .ready-section .btn-contat {
    min-width: 100%;
  }
}

/*-----------------------
    best-seller
-------------------------*/
html[dir=rtl] .swiper-button-prev, html[dir=rtl] .swiper-rtl .swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 16px);
  left: auto;
}
html[dir=rtl] .swiper-button-next, html[dir=rtl] .swiper-rtl .swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 16px);
  right: auto;
}

html[dir=ltr] .swiper-button-prev, html[dir=ltr] .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 16px);
}
html[dir=ltr] .swiper-button-next, html[dir=ltr] .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 16px);
}

.best-seller {
  padding: 70px 0;
}

.best-seller-card {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  overflow: hidden;
}
.best-seller-card .swiper-button-next:after, .best-seller-card .swiper-rtl .swiper-button-prev:after,
.best-seller-card .swiper-button-prev:after, .best-seller-card .swiper-rtl .swiper-button-next:after {
  content: unset;
}
.best-seller-card .card-image {
  height: 390px;
}
.best-seller-card .card-image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.best-seller-card .with-hover {
  opacity: 0;
  text-align: inherit;
  transition: all 0.5s ease-out;
}
.best-seller-card:hover .with-hover {
  opacity: 1;
}
.best-seller-card .footer-part {
  padding: 1rem 1.5rem;
  background: rgba(222, 221, 222, 0.34);
}
.best-seller-card .footer-part p, .best-seller-card .footer-part a {
  color: #231F20;
  font-size: 1.5rem;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.best-seller-card .swiper-pagination {
  padding: 0rem !important;
  min-height: 1.75rem;
  max-width: 4.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E6352A;
  gap: 0.25rem;
  font-size: 0.9375rem;
  background: #fff;
  border-radius: 0.875rem;
}
html[dir=rtl] .best-seller-card .swiper-pagination {
  margin-right: 1rem;
}
html[dir=ltr] .best-seller-card .swiper-pagination {
  margin-left: 1rem;
}

/*-----------------------
    popular-category
-------------------------*/
.popular-category {
  padding: 70px 0;
}

.popular-category-box .header-part {
  height: 350px;
}
.popular-category-box .header-part img {
  height: 282px;
}
.popular-category-box .body-part h4, .popular-category-box .body-part a {
  color: #231F20;
  font-family: "Montserrat-Medium", sans-serif;
}

/*-----------------------
    intro video
-------------------------*/
@media (min-width: 992px) {
  .brand-video {
    height: 750px;
  }
}
@media (max-width: 991.98px) {
  .brand-video {
    height: 400px;
  }
}
.brand-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateX(-50%) translateY(-50%);
}

/*-----------------------
    breadcrumb Styles
-------------------------*/
.breadcrumb .breadcrumb-item {
  padding: 2.94rem 0 1rem 0;
  border-bottom: 1px solid #BBBABA;
}
.breadcrumb .breadcrumb-item h2 {
  color: #231F20;
  font-family: "Montserrat-Bold", sans-serif;
}

/*-----------------------
   all-products Styles
-------------------------*/
.all-products {
  padding: 2rem 0;
}
.all-products .footer-part {
  background: #DEDDDE;
}
.all-products .filteration {
  padding: 0.94rem 0.62rem;
  border-radius: 0.5rem;
  background: #E9E9E9;
  min-height: 25rem;
}
.all-products .filteration .header-part h4 {
  padding-bottom: 0.38rem;
  color: #231F20;
  font-family: "Montserrat-Bold", sans-serif;
  border-bottom: 1px solid #BBBABA;
}
html[dir=rtl] .all-products .filteration .body-part .item .filteration-option {
  padding-right: 2rem;
}
html[dir=ltr] .all-products .filteration .body-part .item .filteration-option {
  padding-left: 2rem;
}
.all-products .filteration .body-part .item h5 {
  color: #231F20;
  font-family: "Montserrat-SemiBold", sans-serif;
}
html[dir=rtl] .all-products .filteration .body-part .item h5 {
  padding-right: 2rem;
}
html[dir=ltr] .all-products .filteration .body-part .item h5 {
  padding-left: 2rem;
}
.all-products .filteration .body-part .item h5::after {
  position: absolute;
  top: 0;
  bottom: 0;
  content: "";
  width: 1.0625rem;
  height: 0.15rem;
  background: #000;
  margin-top: auto;
  margin-bottom: auto;
}
html[dir=rtl] .all-products .filteration .body-part .item h5::after {
  right: 0;
  left: 0;
}
html[dir=ltr] .all-products .filteration .body-part .item h5::after {
  right: 0;
  left: 0;
}

/*-----------------------
    taps-nav
-------------------------*/
.all-details-product {
  padding: 3.5rem 0 0 0;
}
.all-details-product .title-product-section {
  font-family: "Montserrat-SemiBold", sans-serif;
  color: #231F20;
}
@media (min-width: 992px) {
  .all-details-product .title-product-section {
    font-size: 2rem;
  }
}
@media (max-width: 991.98px) {
  .all-details-product .title-product-section {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .all-details-product .thumbsSlider {
    height: 450px;
  }
}
@media (max-width: 767.98px) {
  .all-details-product .thumbsSlider {
    height: 280px;
  }
}
.all-details-product .thumbsSlider .swiper-slide {
  padding: 8px;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #D1D5DB;
}
@media (min-width: 768px) {
  .all-details-product .thumbsSlider .swiper-slide img {
    height: 100px;
  }
}
@media (max-width: 767.98px) {
  .all-details-product .thumbsSlider .swiper-slide img {
    height: 60px;
  }
}
.all-details-product .swiper-main-box {
  border-radius: 0.5rem;
  border: 1px solid #DFE3E9;
  background: linear-gradient(0deg, rgba(241, 241, 241, 0.2) 0%, rgba(241, 241, 241, 0.2) 100%);
}
@media (min-width: 768px) {
  .all-details-product .swiper-main-box {
    height: 450px;
  }
}
@media (max-width: 767.98px) {
  .all-details-product .swiper-main-box {
    height: 280px;
  }
}
@media (min-width: 768px) {
  .all-details-product .swiper-main-box img {
    height: 390px;
  }
}
@media (max-width: 767.98px) {
  .all-details-product .swiper-main-box img {
    height: 180px;
  }
}
.all-details-product .prodect-choosen-info table tr {
  border-color: transparent;
  border-width: 1.5rem 0;
}
.all-details-product .prodect-choosen-info table td {
  padding: 0 0;
  margin: 0;
  color: #231F20;
}
.all-details-product .prodect-choosen-info table td.key {
  font-size: 1rem;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.all-details-product .prodect-choosen-info table td.value {
  padding: 0 1rem;
  font-size: 0.984rem;
  color: #E6352A;
}
.all-details-product .prodect-choosen-info .btn-outline-primary {
  text-transform: uppercase;
  min-height: 2.875rem;
  font-size: 1rem;
  color: #231F20;
  font-family: "Montserrat-SemiBold", sans-serif;
}
@media (min-width: 768px) {
  .all-details-product .prodect-choosen-info .btn-outline-primary {
    min-width: 13.625rem;
  }
}
@media (max-width: 767.98px) {
  .all-details-product .prodect-choosen-info .btn-outline-primary {
    min-width: 100%;
  }
}

.taps-nav .nav-tabs .nav-item.show .nav-link,
.taps-nav .nav-tabs .nav-link.active {
  border: 0;
  color: #E6352A;
  border-bottom: 1px solid #E6352A;
}
.taps-nav .nav-tabs .nav-link {
  padding: 0 0 1.3rem 0;
  border: 0;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: #0C0B0B;
  border-bottom: 1px solid transparent;
  font-family: "Montserrat-Medium", sans-serif;
}

.product-details-taps {
  padding: 65px 0 0 0;
}
@media (min-width: 992px) {
  .product-details-taps .description {
    width: 75%;
    margin: 0 auto;
  }
}
.product-details-taps .description p {
  color: #231F20;
  font-size: 1.15rem;
}
.product-details-taps .item-caterory .image-part {
  height: 216px;
}
.product-details-taps .item-caterory .image-part img {
  -o-object-fit: cover;
     object-fit: cover;
}
.product-details-taps .item-caterory .text-part p {
  font-size: 1.35rem;
  color: #231F20;
  font-family: "Montserrat-Medium", sans-serif;
}

/*-----------------------
    intro-single-page
-------------------------*/
.intro-single-page {
  background: rgba(16, 14, 14, 0.98);
  min-height: 20rem;
}
.intro-single-page-title h2 {
  color: #E6352A;
  font-family: "Montserrat-Bold", sans-serif;
}
@media (min-width: 1360px) {
  .intro-single-page-title h2 {
    font-size: 3rem;
  }
}
@media (max-width: 1359.98px) {
  .intro-single-page-title h2 {
    font-size: 2rem;
  }
}

/*-----------------------
    our-partners-section
-------------------------*/
.our-partners-section {
  padding: 50px 0;
}
.our-partners-section .div-bg {
  padding: 3rem 0;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.our-partners-section .div-bg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.59) 0%, rgba(0, 0, 0, 0.59) 100%);
}
html[dir=rtl] .our-partners-section .div-bg::before {
  right: 0;
  left: 0;
}
html[dir=ltr] .our-partners-section .div-bg::before {
  right: 0;
  left: 0;
}
.our-partners-section .partner-box {
  min-height: 142px;
}
.our-partners-section .partner-box img {
  height: 58px;
}

/*-----------------------
    why-chooseUs
-------------------------*/
.why-chooseUs {
  padding: 70px 0;
}

.why-chooseUsCard {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.why-chooseUsCard .header-part {
  background: #F5F5F5;
  padding: 0.97rem;
}
.why-chooseUsCard .header-part img {
  height: 65px;
}
.why-chooseUsCard .body-part {
  padding: 1.5rem 1rem;
}
.why-chooseUsCard .body-part h5 {
  color: #3B4238;
  text-transform: capitalize;
  font-family: "Montserrat-Bold", sans-serif;
}
.why-chooseUsCard .body-part p {
  color: #3B4238;
  font-size: 0.98438rem;
}

/*-----------------------
    about-section
-------------------------*/
.about-section {
  padding: 60px 0;
}
.about-section .row:nth-of-type(odd) {
  flex-direction: row-reverse;
}
.about-section .row:not(:last-child) {
  margin-bottom: 4rem;
}
.about-section .text-part h4 {
  color: #231F20;
  font-family: "Montserrat-Bold", sans-serif;
}
.about-section .text-part p {
  font-size: 1rem;
  color: #231F20;
  font-family: "Montserrat-Medium", sans-serif;
}
.about-section .text-part:not(:last-child) {
  margin-bottom: 1.75rem;
}
.about-section .container_sec {
  height: 306px;
}
.about-section .container_sec img {
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section .video-container {
  width: 100%;
  height: 306px;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-section .video-container .video-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section .video-container video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.about-section .play-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  pointer-events: none;
}
.about-section .play-button-wrapper #circle-play-b {
  cursor: pointer;
  pointer-events: auto;
}
.about-section .play-button-wrapper #circle-play-b img {
  width: 150px;
  cursor: pointer;
}

.container_sec {
  width: 100%;
  position: relative;
}
.container_sec .reveal {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}

/*-----------------------
    founder-section
-------------------------*/
@media (min-width: 768px) {
  .founder-section {
    padding: 7rem 0;
  }
}
@media (max-width: 767.98px) {
  .founder-section {
    padding: 7rem 0 2rem 0;
  }
}
@media (max-width: 767.98px) {
  .founder-section .container {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) {
  .founder-section .row-founder-image {
    position: absolute;
    top: unset;
    bottom: 0;
    z-index: -1;
  }
  html[dir=rtl] .founder-section .row-founder-image {
    right: 0;
    left: 0;
  }
  html[dir=ltr] .founder-section .row-founder-image {
    right: 0;
    left: 0;
  }
}
.founder-section .fouder-text {
  padding: 2rem 1rem;
  border-radius: 1rem 1rem 1rem 0rem;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.founder-section .fouder-text .content {
  min-height: 19rem;
}
@media (min-width: 992px) {
  .founder-section .fouder-text .content {
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 991.98px) {
  .founder-section .fouder-text .content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
.founder-section .fouder-text .content .founder-info {
  color: #231F20;
  text-transform: capitalize;
}
.founder-section .fouder-text .content .founder-info h4 {
  font-size: 1.75rem;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.founder-section .fouder-text .content .founder-info span {
  font-size: 1.125rem;
}
.founder-section .fouder-text .content .description p {
  font-size: 1.125rem;
  color: #231F20;
  font-family: "Montserrat-Medium", sans-serif;
}
.founder-section .fouder-text .content .description p:not(:last-child) {
  margin-bottom: 1rem;
}
.founder-section .founder-image {
  background: #DEDDDE;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .founder-section .founder-image {
    min-height: 25.55rem;
  }
}
@media (max-width: 767.98px) {
  .founder-section .founder-image {
    min-height: 10rem;
  }
}
.founder-section .founder-image img {
  position: absolute;
  top: unset;
  bottom: 0;
}
html[dir=rtl] .founder-section .founder-image img {
  right: 1.5rem;
  left: unset;
}
html[dir=ltr] .founder-section .founder-image img {
  right: unset;
  left: 1.5rem;
}
@media (min-width: 768px) {
  .founder-section .founder-image img {
    height: 500px;
  }
}
@media (max-width: 767.98px) {
  .founder-section .founder-image img {
    height: 320px;
  }
}

/*-----------------------
   blog-section
-------------------------*/
.blog-section {
  padding: 16px 0 3rem 0;
}
.blog-section .blog-card:not(:last-child) {
  border-bottom: 1.5px dashed #BBBABA;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
.blog-section .blog-card-header img {
  border-radius: 1rem;
}
.blog-section .blog-card-body h5 a {
  margin-bottom: 0.75rem;
  color: #231F20;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.blog-section .blog-card-body p {
  font-size: 1.125rem;
  color: #231F20;
}
.blog-section .blog-card-body .list-info span {
  color: #E6352A;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.blog-section .blog-card-body .list-info img {
  filter: brightness(0) saturate(100%) invert(6%) sepia(10%) saturate(874%) hue-rotate(295deg) brightness(91%) contrast(84%);
}
.blog-section .blog-card-body .btn-read-more {
  padding: 0 2rem;
  min-height: 2.625rem;
  font-size: 1.125rem;
  color: #000;
  border: 1px solid #231F20;
  border-radius: 1rem;
}
.blog-section .blog-card-body .social-links img {
  height: 32px;
}
.blog-section .latest-post {
  padding: 0.69rem 0.81rem;
  border-radius: 0.5rem;
  border: 1px solid #DEDDDE;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.blog-section .latest-post h5 {
  color: #E6352A;
  font-size: 1.125rem;
  text-transform: capitalize;
  font-family: "Montserrat-Bold", sans-serif;
}
.blog-section .latest-post ul:not(:last-child) {
  margin-bottom: 0.88rem;
}
.blog-section .latest-post ul li:first-child img {
  width: 4.9375rem;
  min-width: 4.9375rem;
  max-width: 4.9375rem;
  height: 3.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.blog-section .latest-post ul li .text {
  font-size: 0.875rem;
  color: #231F20;
  margin-bottom: 0.44rem;
  font-family: "Montserrat-Bold", sans-serif;
}
.blog-section .latest-post ul li .date {
  color: #231F20;
  font-size: 0.875rem;
}
.blog-section .latest-post ul li .date img {
  width: 17px;
}

.offers-banner {
  margin-top: 3rem;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 0.5rem;
  gap: 5rem;
  padding: 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .offers-banner {
    min-height: 60rem;
  }
}
@media (max-width: 767.98px) {
  .offers-banner {
    min-height: 30rem;
    display: none !important;
  }
}
.offers-banner p {
  font-size: 1rem;
  color: #fff;
  font-family: "Montserrat-Bold", sans-serif;
}
.offers-banner .btn-shop {
  font-size: 1.25rem;
  border-radius: 0.5rem;
  color: #fff;
  border: 1px solid #fff;
  min-height: 3.5rem;
  background: rgba(12, 11, 11, 0.45);
  font-family: "Montserrat-Bold", sans-serif;
}

html[dir=ltr] .share-icon {
  transform: scaleX(1);
}
html[dir=rtl] .share-icon {
  transform: scaleX(-1);
}

/*-----------------------
    contact-section
-------------------------*/
.contact-section {
  padding: 7rem 0;
}
.contact-section .item:not(:last-child) {
  margin-bottom: 1.3rem;
}
.contact-section .item img {
  filter: brightness(0) saturate(100%) invert(33%) sepia(34%) saturate(3641%) hue-rotate(339deg) brightness(89%) contrast(105%);
}
.contact-section .item .text h4 {
  margin-bottom: 1rem;
  font-size: 1.4375rem;
  color: #231F20;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.contact-section .item a {
  font-size: 1.125rem;
  font-family: "Montserrat-Bold", sans-serif;
  color: #E6352A;
}
.contact-section .item span {
  color: #999;
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}
.contact-section .item span a {
  color: #999;
  font-size: 1.125rem;
  font-family: "Montserrat-Regular", sans-serif;
}
.contact-section .form-item .form-control {
  border-radius: 0.5rem;
  border: 1px solid #999;
  background: #E6E6E6;
  min-height: 3rem;
  color: #BBBABA;
  box-shadow: unset !important;
}
.contact-section .form-item .form-control:hover {
  border: 1px solid #E6352A;
}
.contact-section .form-item .form-control.is-invalid {
  border: 1px solid #dc3545;
}
.contact-section .form-item .form-control::-moz-placeholder {
  color: #BBBABA;
  text-transform: capitalize;
  opacity: 1;
}
.contact-section .form-item .form-control::placeholder {
  color: #BBBABA;
  text-transform: capitalize;
  opacity: 1;
}
@media (min-width: 992px) {
  .contact-section .form-item .form-control::-moz-placeholder {
    font-size: 1rem;
  }
  .contact-section .form-item .form-control::placeholder {
    font-size: 1rem;
  }
}
@media (max-width: 991.98px) {
  .contact-section .form-item .form-control::-moz-placeholder {
    font-size: 0.894rem;
  }
  .contact-section .form-item .form-control::placeholder {
    font-size: 0.894rem;
  }
}
.contact-section .form-item .form-control::-ms-input-placeholder {
  color: #BBBABA;
  opacity: 1;
}
@media (min-width: 992px) {
  .contact-section .form-item .form-control::-ms-input-placeholder {
    font-size: 1rem;
  }
}
@media (max-width: 991.98px) {
  .contact-section .form-item .form-control::-ms-input-placeholder {
    font-size: 0.894rem;
  }
}
.contact-section .form-item textarea {
  border: 1px solid #999;
  background: #E6E6E6;
  resize: unset;
  padding-top: 1rem;
}
.contact-section .btn-send {
  min-height: 3rem;
  border-radius: 1rem;
  background: #231F20;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.1rem;
  color: #fff;
  border: 1px solid #E6352A;
}
@media (min-width: 768px) {
  .contact-section .btn-send {
    min-width: 22rem;
  }
}
@media (max-width: 768.98px) {
  .contact-section .btn-send {
    min-width: 100%;
  }
}
.contact-section .btn-send:hover {
  background: #E6352A;
  color: #fff;
  border: 1px solid #231F20;
}
.contact-section .btn-check:checked + .btn:focus-visible, .contact-section .btn.active:focus-visible, .contact-section .btn.show:focus-visible, .contact-section .btn:first-child:active:focus-visible, .contact-section :not(.btn-check) + .btn:active:focus-visible {
  background: #E6352A;
  color: #fff;
  border: 1px solid #231F20;
}

/*-----------------------
    quote-section
-------------------------*/
html[dir=rtl] select {
  background: white url(../image/icon/chevron-down.svg) no-repeat left 10px center !important;
  padding-right: 1rem;
}

html[dir=ltr] select {
  background: white url(../image/icon/chevron-down.svg) no-repeat right 10px center !important;
  padding-left: 1rem;
}

select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.quote-section {
  padding: 3rem 0;
}
.quote-section h3 {
  color: #231F20;
  margin-bottom: 3rem;
  font-size: 1.5625rem;
  font-family: "Montserrat-Bold", sans-serif;
}
.quote-section p {
  color: #231F20;
  font-size: 1rem;
}
.quote-section h5 {
  color: #231F20;
  font-size: 1.5625rem;
  margin-bottom: 3rem;
  font-family: "Montserrat-Bold", sans-serif;
}
.quote-section .form-item {
  margin-bottom: 2.3rem;
}
.quote-section .form-item .form-control {
  border-radius: 0.5rem;
  border: 1px solid #999;
  background: #fff;
  min-height: 3rem;
  color: #BBBABA;
  box-shadow: unset !important;
}
.quote-section .form-item .form-control:hover {
  border: 1px solid #E6352A;
}
.quote-section .form-item .form-control.is-invalid {
  border: 1px solid #dc3545;
}
.quote-section .form-item .form-control::-moz-placeholder {
  color: #BBBABA;
  text-transform: capitalize;
  opacity: 1;
  font-family: "Montserrat-Medium", sans-serif;
}
.quote-section .form-item .form-control::placeholder {
  color: #BBBABA;
  text-transform: capitalize;
  opacity: 1;
  font-family: "Montserrat-Medium", sans-serif;
}
@media (min-width: 992px) {
  .quote-section .form-item .form-control::-moz-placeholder {
    font-size: 1rem;
  }
  .quote-section .form-item .form-control::placeholder {
    font-size: 1rem;
  }
}
@media (max-width: 991.98px) {
  .quote-section .form-item .form-control::-moz-placeholder {
    font-size: 0.894rem;
  }
  .quote-section .form-item .form-control::placeholder {
    font-size: 0.894rem;
  }
}
.quote-section .form-item .form-control::-ms-input-placeholder {
  color: #BBBABA;
  opacity: 1;
  font-family: "Montserrat-Medium", sans-serif;
}
@media (min-width: 992px) {
  .quote-section .form-item .form-control::-ms-input-placeholder {
    font-size: 1rem;
  }
}
@media (max-width: 991.98px) {
  .quote-section .form-item .form-control::-ms-input-placeholder {
    font-size: 0.894rem;
  }
}
.quote-section .form-item textarea {
  border: 1px solid #999;
  background: #fff;
  resize: unset;
  padding-top: 1rem;
}
.quote-section .btn-send {
  min-height: 3rem;
  border-radius: 1rem;
  background: #231F20;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.1rem;
  color: #fff;
  border: 1px solid #E6352A;
}
@media (min-width: 768px) {
  .quote-section .btn-send {
    min-width: 22rem;
  }
}
@media (max-width: 768.98px) {
  .quote-section .btn-send {
    min-width: 100%;
  }
}
.quote-section .btn-send:hover {
  background: #E6352A;
  color: #fff;
  border: 1px solid #231F20;
}
.quote-section .btn-check:checked + .btn:focus-visible, .quote-section .btn.active:focus-visible, .quote-section .btn.show:focus-visible, .quote-section .btn:first-child:active:focus-visible, .quote-section :not(.btn-check) + .btn:active:focus-visible {
  background: #E6352A;
  color: #fff;
  border: 1px solid #231F20;
}

/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*//*# sourceMappingURL=general.css.map */