@import "color";
@import "mixins";
/*-----------------------
   fontFamily
-------------------------*/
$font-family-base: 'Montserrat-Regular',
    sans-serif;
$font-family-medium: 'Montserrat-Medium',
    sans-serif;
$font-family-SemiBold: 'Montserrat-SemiBold',
    sans-serif;
$font-family-Bold: 'Montserrat-Bold',
    sans-serif;

/*-----------------------
    Global Styles
-------------------------*/
::selection {
    background: map_get($theme-colors, dark);
    color: #fff;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
    background: #BBBDC1;
    border-radius: 120px;
}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    scroll-behavior: initial;
    overflow-x: hidden !important;
}

body {
    font-size: 16px;
    vertical-align: baseline;
    overflow-x: hidden !important;
    font-family: $font-family-base;
    font-weight: 400;
    background: #fff;
    font-style: normal;
    height: 100%;

    &.modal-open {
        padding-right: 0 !important;
    }

    &.show-overlay {
        overflow: hidden;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none !important;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    cursor: pointer !important;
    box-shadow: none !important;
    outline: 0 !important;
    border: 0;
}

.btn {
    box-shadow: none !important;
    outline: 0 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

ol,
ul {
    list-style: none;
}

figure,
ol,
p,
ul {
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-rendering: optimizelegibility;
    margin-top: 0;
    margin-bottom: 0;
}

[type=email],
[type=number],
[type=tel],
[type=url] {
    direction: inherit
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: inherit;
    border-color: transparent;
}
input{
    box-shadow: unset !important;
    outline: 0 !important;
}
/*-----------------------
    Global Styles
-------------------------*/
.one-line {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.two-line {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.three-line {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
   text-overflow: ellipsis;
}
.title-section{
    h2{
        text-transform: capitalize;
        font-family: $font-family-SemiBold;
    }  
    .title-line{
        background:  map_get($theme-colors, primary);
        height: 1.25px;
    }
} 
.swiper-pagination{
    padding: 3rem 1rem 1rem 1rem;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    width: 12px;
    height: 12px;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    &-active {
        background: map_get($theme-colors, primary);
    }
    background: #737373;
    opacity: 1;
}
.form-check-input[type=checkbox]{
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 0;
    border: 1px solid #BBBABA;
}
.form-check-input:checked{
    background-color: map_get($theme-colors, primary) !important;
    border-color: map_get($theme-colors, primary) !important;
}
/*-----------------------
    preloader 
-------------------------*/
#preloader-background,
#circle-loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit- flex;
    display: -ms- flex;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

#preloader-background {
    @include position(fixed, 0, 0, 0, 0);
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #E9E9E9;
}

#circle-loader {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 10px;
    border-top-color: map_get($theme-colors, primary);
    border-right-color: map_get($theme-colors, primary);
    border-bottom-color: #FDFBFB;
    border-left-color: #FDFBFB;
    border-radius: 50%;
    -webkit-animation: spinLoader 2s linear infinite;
    animation: spinLoader 2s linear infinite;

    @media only screen and (min-width: 991px) {
        width: 400px;
        height: 400px;
    }
}

@-webkit-keyframes spinLoader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinLoader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#centre-logo {
    position: fixed;
    width: 150px;
    padding-bottom: 10px;

    @media only screen and (min-width: 991px) {
        width: 300px;
    }
}

.animatePageIn {
    position: relative;
    -webkit-animation-name: animatePageIn;
    -webkit-animation-duration: 3s;
    animation-name: animatePageIn;
    animation-duration: 3s;
}

@-webkit-keyframes animatePageIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animatePageIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/*-----------------------
    header Styles
-------------------------*/
$breakpoint: 992px;
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: map_get($theme-colors, primary);
}
.brand {
    display: flex;
    align-items: center;
    img {
        
        @media (min-width: 1440px){
            height: 80px;
        }
        @media (max-width: 1439.98px){
            height: 70px;
        }
    }
}
.mobile-screen {
    display: none !important;

    @media (max-width: ($breakpoint - 1)) {
        display: flex !important;
    }
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    .navbar__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0;

        @media (max-width: ($breakpoint - 1)) {
            flex: 0 0 auto;
            width: 100%;
        }
    }
    .navbar__center {
        display: flex;
        @media (max-width: ($breakpoint - 1)) {
            flex: 0 0 100%;
            align-items: center;
        }
    }
    .navbar__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (min-width: ($breakpoint)) {
            gap: 2rem;
        }
        @media (max-width: ($breakpoint - 1)) {
            display: none;
        }
        .btn-dark {
           padding:  0.44rem;
            min-height: 1.5rem;
            font-size: 0.875rem;
            border-radius: 0.5rem;
            color: #fff;
            background: map_get($theme-colors, dark);
            text-transform: capitalize;
            font-family: $font-family-SemiBold;
        }

        .btn-language {
            padding: 0;
            font-size: 16px;
            color: #fff;
            font-family: $font-family-SemiBold;
            img {
                width: 17px;
            }
        }
    }
}
.menu {
    @media (max-width: ($breakpoint - 1)) {
        position: fixed;
        top: 0;
        left: 0;
        width: 350px;
        max-width: 85%;
        height: 100%;
        z-index: 100;
        overflow: hidden;
        background-color: #fff;
        transform: translate(-100%);
        transition: all 0.4s ease-in-out;

        &.is-active {
            transform: translate(0%);
            .menu__link {
                img {
                    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7500%) hue-rotate(127deg) brightness(90%) contrast(109%);
                }
            }

            .submenu {
                background-color: #fff;
                height: calc(100% - 3rem);
            }
        }
    }

    .menu__header {
        display: none;
        box-shadow: var(--shadow-medium);

        @media (max-width: ($breakpoint - 1)) {
            position: relative;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 4rem;
            z-index: 110;
            visibility: hidden;
            background: transparent;

            &.is-active {
                visibility: visible;
                background-color: map_get($theme-colors, grayColor);
                border-radius: 0;
                justify-content: space-between;
                flex-direction: row-reverse;
                padding: 0 16px;

                span {
                    color: map_get($theme-colors, white);
                    font-size: 1.3rem;
                    font-family: $font-family-Bold;
                }

                >.menu__arrow {
                    display: flex;

                    i {
                        color: map_get($theme-colors, white);
                        font-size: 1rem;
                    }
                }
            }
        }

        .menu__arrow {
            @media (max-width: ($breakpoint - 1)) {
                display: none;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }

        .menu__title {
            @media (max-width: ($breakpoint - 1)) {
                cursor: pointer;
                font-weight: 500;
                text-transform: capitalize;
                color: #000;
                transition: all 0.25s ease;
            }
        }
    }

    .menu__inner {
        @media (min-width: ($breakpoint - 1)) {
            @include dFlex(center, center, 2rem);
        }
        @media (max-width: ($breakpoint - 1)) {
            height: calc(100% - 3rem);
            margin-top: -3rem;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .menu__item {
            @media (max-width: ($breakpoint - 1)) {
                display: block;
                padding: 0;
                border-bottom: 1px solid map_get($theme-colors, bordercolor);

                &:last-child {
                    border-bottom: 0;

                    a {
                        img {
                            display: none;
                        }
                    }
                }
            }

            @media (min-width: $breakpoint) {
                &:hover {
                    >.menu__link {
                        i {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            &.menu__dropdown {
                @media (min-width: $breakpoint) {
                    &:hover {
                        >.submenu {
                            opacity: 1;
                            visibility: visible;
                            top: 35px;
                        }
                    }
                }
            }

            .menu__link {
                @include dFlex(center, center, 0.5rem);
                cursor: pointer;
                font-size: 1rem;
                transition: all 0.25s ease;
                font-family: $font-family-SemiBold;
                @media (min-width: ($breakpoint - 1)) {
                    color: #fff;
                }
                @media (max-width: ($breakpoint - 1)) {
                    color: #000;
                }
                >i {
                    font-size: 12px;
                    margin-left: 5px;
                    transition: 0.35s;

                    @media (max-width: ($breakpoint - 1)) {
                        margin-left: 10px;
                        transform: rotate(0deg);
                    }
                }

                @media (max-width: ($breakpoint - 1)) {
                    justify-content: space-between;
                    padding: 16px;
                    font-family: $font-family-base;

                }

            }
        }
    }
}
.submenu {
    position: absolute;
    z-index: 100;
    top: 110%;
    left: 50%;
    width: 100%;
    height: auto;
    padding: 1rem 1rem;
    border-radius: 14px;
    color: #000;
    background-color: map_get($theme-colors, white);
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    transform: translateX(-50%);

    @media (max-width: ($breakpoint - 1)) {
        position: fixed;
        display: none;
        top: 65px;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        min-width: auto;
        margin: 0;
        padding: 0px 15px 0 15px;
        border-radius: 0;
        border-top: 0;
        box-shadow: none;
        opacity: 1;
        overflow-y: auto;
        visibility: visible;
        transform: translateX(0%);

        &.is-active {
            display: block;
        }
    }

    @media (min-width: $breakpoint) {
        animation: none !important;
    }

    &.megamenu__normal {
        @media (min-width: $breakpoint) {
            left: 65%;
            max-width: 250px;
            min-width: 250px;
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }

    .submenu__inner {
        width: 25%;
        padding: 0 15px;

        @media (max-width: ($breakpoint - 1)) {
            width: 100%;
            padding: 0;
        }

        .submenu__title {
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            transition: all 0.3s ease;
        }
    }

    .submenu__list {
        @media (max-width: ($breakpoint - 1)) {
            margin-bottom: 20px;

            li {
                a {
                    color: #000 !important;
                }
            }
        }

        li {
            display: block;
            line-height: 1;
            margin: 0 auto;
            padding: 0.75rem 0;
            border-bottom: 1px solid map_get($theme-colors, bordercolor);

            &:last-child {
                border-bottom: 0;
            }

            @media (max-width: ($breakpoint - 1)) {
                padding: 1rem 0;
            }

            a {
                font-size: 1rem;
                display: inline-block;
                text-transform: capitalize;
                color: #000;
                font-family: $font-family-Bold;
                transition: all 0.25s ease-in-out;

                @media (max-width: ($breakpoint - 1)) {
                    display: block;
                }


            }
        }
    }
}
.overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.45s ease-in-out;
    pointer-events: none;

    @media (max-width: ($breakpoint - 1)) {
        pointer-events: visible;

        &.is-active {
            opacity: 1;
            visibility: visible;
        }
    }
}
.burger {
    position: relative;
    display: none;
    cursor: pointer;
    width: 25px;
    height: 15px;
    opacity: 0;
    visibility: hidden;
    background: transparent;

    @media (max-width: ($breakpoint - 1)) {
        display: block;
        opacity: 1;
        visibility: visible;
        margin: 15px;
    }

    .burger-line {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 2px;
        opacity: 1;
        border-radius: 15px;
        background: #000;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 8px;
            width: 70%;
        }

        &:nth-child(3) {
            top: 16px;
        }
    }
}
/*-----------------------
    back-to-top Styles
-------------------------*/
button.back-to-top {
    margin: 0 !important;
    padding: 0 !important;
    background: #fff;
    height: 0px;
    width: 0px;
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    color: transparent;
    clear: both;
    visibility: hidden;
    @include position(fixed, unset, unset, 75px, 20px);
    cursor: pointer;
    display: block;
    border: none;
    font-size: 0px;
    outline: 0 !important;
    z-index: 99;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus {
    outline: 0 !important;
}
button.back-to-top::before,
button.back-to-top::after {
    content: "";
    display: block;
    border-bottom: solid 10px map_get($theme-colors, primary);
    border-left: solid 10px transparent;
    line-height: 0;
    border-right: solid 10px transparent;
    height: 0;
    margin: 18px auto 0;
    width: 0;
    border-radius: 20px;
    visibility: hidden;
}
button.back-to-top.show::after,
button.back-to-top.show::before {
    visibility: visible;
}
button.back-to-top::after {
    border-bottom-color: #fff;
    position: relative;
    top: -24px;
}
button.back-to-top.show {
    display: block;
    background: #fff;
    color: map_get($theme-colors, primary);
    font-size: 25px;
    left: 25px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    visibility: visible;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
button.back-to-top.show:active {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}
/*-----------------------
    Footer Styles
-------------------------*/
footer{
    padding: 45px 0;
    background: map_get($theme-colors, primary);
    
    .footer-col{
        &-links{
            @media (min-width: 992px){
                justify-content: center;
            }
           
        }
        .footer-logo{
            .brand{
                img{
                    height: 90px;
                }
            }
            p{
                font-size: 1rem;
                color: #fff;
            }
        }
        .footer-subtitle{
            color: #fff;
            margin-bottom: 2rem;
            text-transform: capitalize;
            font-family: $font-family-SemiBold;
        }
        .footer-links{
           ul{
            row-gap: 0.88rem;
            li{
                a{
                    text-transform: capitalize;
                    font-size: 1rem;
                    color: map_get($theme-colors, white-normal);

                }
                &:hover{
                   a{
                    color: #fff;
                   }
                }
            }
           }
            
        }
        .footer-contat{
            .item{
                span,a{
                    font-size: 1rem;
                    color: map_get($theme-colors, white-normal);
                }
                &:not(:last-child){
                    margin-bottom: 1.12rem;
                }
            }
        }
    }
   
}
/*-----------------------
    subscribe-section
-------------------------*/
.subscribe-section{
    color: #fff;
    background: map_get($theme-colors, dark);
    padding: 1rem 0;
    &-info{
        column-gap: 4rem;
        row-gap: 1rem;
        p{
            font-family: $font-family-medium;
            @media (min-width: 1400px){
                font-size: 1.5rem;
            }
            @media (max-width: 1399.98px){
                font-size: 1.4rem;
            }
        }
        span{
            font-size: 1rem;
        }
    }
    .input-group{
        min-height: 3rem;
        .form-control{
            border-radius: 0;
            border-color: #fff;
            border: 0;
            @media (min-width: 992px){
                width: calc(100% - 10rem);
            }
            @media (max-width: 991.98px){
                width: calc(100% - 10rem);
            }
            &::placeholder {
                color: map_get($theme-colors, grey-light);
                opacity: 1;
                @media (min-width: 992px){
                    font-size: 1rem;
                }
                @media (max-width: 991.98px){
                    font-size: 0.894rem;
                }

            }
              
            &::-ms-input-placeholder {
                color: map_get($theme-colors, grey-light);
                opacity: 1;
                @media (min-width: 992px){
                    font-size: 1rem;
                }
                @media (max-width: 991.98px){
                    font-size: 0.894rem;
                }
            }
        }
        .btn{
            color: map_get($theme-colors, grey-dark);
            text-transform: uppercase;
            font-family: $font-family-SemiBold;
            border-radius: 0;
            @media (min-width: 992px){
                min-width: 10rem;
                font-size: 1rem;
            }
            @media (max-width: 991.98px){
                min-width: 5rem;
                font-size: 0.894rem;
            }
           
        }
    }
}
/*-----------------------
   equipment
-------------------------*/
.equipment-section{
    padding: 5rem 0;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    object-fit: cover !important;
    background-attachment: fixed !important;
    p{
        @media (min-width: 992px){
            font-size: 2.5rem;
        }
        @media (max-width: 991.98px){
            font-size: 1.5rem;
        }
        color: map_get($theme-colors, dark);
        font-family: $font-family-SemiBold;
    }
}
/*-----------------------
    certificates-section
-------------------------*/
.certificates-section{
    padding: 70px 0;
    .certificate-box{
        border-radius: 8px;
        border: 1px solid #D1D5DB;
        height: 195px;
        img{
            width: 150px;
            margin: 0 auto;
        }
    }
}
/*-----------------------
    latest-news
-------------------------*/
.latest-news{
    padding: 70px 0;
    .news-card{
        border-radius: 1rem;
        &-header{
            height: 280px;
            img{
                object-fit: cover;
            }
        }
        &-body{
            padding: 0.76rem;
            background: rgba(233, 233, 233, 0.34);
            ul{
                li{
                    span{
                        color: map_get($theme-colors, dark);
                    }
                }
            }
            h3{
                text-transform: uppercase;
                font-family: $font-family-SemiBold;
                a{
                    color: map_get($theme-colors, dark);  
                }
                @media (min-width: 992px){
                    font-size: 1.5rem;
                }
                @media (max-width: 991.98px){
                    font-size: 1.25rem;
                }
            }
        }
    }
}
/*-----------------------
    our-product
-------------------------*/
.our-product{
    padding: 70px 0;
    .our-product-card{
        .header-part{
            height: 350px;
            img{
                display: block;
                margin: 0 auto;
                height: 250px;
            }
        }
        .body-part{
            h5{
                text-transform: uppercase;
                color: map_get($theme-colors, dark);
                font-family: $font-family-SemiBold;
            }
            p{
                font-size: 0.984rem;
                color: #595959;
            }
        }
    }
}
/*-----------------------
    ready-section
-------------------------*/
.ready-section{
    padding: 2rem 0;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    object-fit: cover !important;
    background-attachment: fixed !important;
    h3{
        color: map_get($theme-colors, grey-dark);
        font-family: $font-family-Bold;
    }
    p{
        color: map_get($theme-colors, grey-dark);
    }
    .btn-contat{
        min-height: 3.25rem;
        border-radius: 0.5rem;
        background: #FFF;
        font-size: 0.95625rem;
        font-family: $font-family-SemiBold;
        @media (min-width: 768px){
            min-width: 12rem;
        }
        @media (max-width: 767.98px){
            min-width: 100%;
        }
    }
}
/*-----------------------
    best-seller
-------------------------*/
.best-seller
{
    padding: 70px 0;
}
.best-seller-card{
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    overflow: hidden;
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
      content: unset;
    }
    .card-image{
        height: 390px;
        img{
            object-fit: cover;
        }
    }
    .with-hover{
        opacity: 0;
        text-align: inherit;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    &:hover{
        .with-hover{
            opacity: 1;
        }  
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 16px);
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 16px);
    }
    .footer-part{
        padding: 1rem 1.5rem;
        background: rgba(222, 221, 222, 0.34);
        p, a{
            color: map_get($theme-colors, dark);
            font-size: 1.5rem;
            font-family: $font-family-SemiBold;
        }
    }
    .swiper-pagination{
        padding: 0rem !important;
        min-height: 1.75rem;
        max-width: 4.625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: map_get($theme-colors, primary);
        gap: 0.25rem;
        font-size: 0.9375rem;
        background: #fff;
        border-radius: 0.875rem;
        @include property_dir('margin', 'right', 1rem);
    }
}

/*-----------------------
    popular-category
-------------------------*/
.popular-category{
    padding: 70px 0;
}
.popular-category-box{
    .header-part{
        height: 350px;
        img{
            height: 282px;
        }
    }
    .body-part{
        h4,a{
            color: map_get($theme-colors, dark);
            font-family: $font-family-medium;
        }
    }
}
/*-----------------------
    intro video
-------------------------*/
.brand-video {
    @media (min-width: 992px) {
        height: 750px;
    }
    @media (max-width: 991.98px) {
        height: 400px;
    }
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
        transform: translateX(-50%) translateY(-50%);
    }
}
/*-----------------------
    breadcrumb Styles
-------------------------*/
.breadcrumb{
    .breadcrumb-item{
        padding: 2.94rem 0 1rem 0;
        border-bottom: 1px solid #BBBABA;
        h2{
            color: map_get($theme-colors, dark);
            font-family: $font-family-Bold;
        }
    }
   
}
/*-----------------------
   all-products Styles
-------------------------*/
.all-products{
    padding: 2rem 0;
    .footer-part{
        background: #DEDDDE;
    }
    .filteration{
        padding: 0.94rem 0.62rem;
        border-radius: 0.5rem;
        background: #E9E9E9;
        min-height: 25rem;
        .header-part{
            h4{
                padding-bottom: 0.38rem;
                color: map_get($theme-colors, dark);
                font-family: $font-family-Bold;
                border-bottom: 1px solid #BBBABA;
            }
        }
        .body-part{
            .item{
                .filteration-option{
                    @include property_dir('padding', 'right', 2rem);
                }
                h5{
                    color: map_get($theme-colors, dark);
                    font-family: $font-family-SemiBold;
                    @include property_dir('padding', 'right', 2rem);
                    &::after{
                        @include position( absolute , 0, 0, 0, 0);
                        content: '';
                        width: 1.0625rem;
                        height: 0.15rem;
                        background: #000;
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                }
            }
        }
    }
}
/*-----------------------
    taps-nav
-------------------------*/
.taps-nav{
    .nav-tabs .nav-item.show .nav-link, 
    .nav-tabs .nav-link.active{
        border: 0;
        color: map_get($theme-colors, primary);
        border-bottom: 1px solid map_get($theme-colors, primary);
    }
    .nav-tabs {
        .nav-link{
            padding: 0 0 1.3rem 0;
            border: 0;
            font-size: 1.25rem;
            text-transform: capitalize;
            color: map_get($theme-colors, grey-dark);
            border-bottom: 1px solid transparent;
            font-family: $font-family-medium;
        }
    }
}
.product-details-taps{
    padding: 70px 0;
    .description{
        @media (min-width: 992px){
            width: 75%;
            margin: 0 auto;
        }
        p{
            color: map_get($theme-colors, dark);
            font-size: 1.15rem;
        }
    }
}

/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/
/*-----------------------
    header Styles
-------------------------*/